@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force full height everywhere */
html,
body,
#root {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Base theme */
body {
  background-color: #020617; /* slate-950 */
  color: white;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(30px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-fade-slide {
  animation: fadeSlide 0.8s ease-out forwards;
}

/* Shimmer animation */
@keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.animate-shimmer {
  background-size: 200% auto;
  animation: shimmer 3s linear infinite;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: rgba(16, 185, 129, 0.4);
  border-radius: 10px;
}
.edit-loan-form {
  max-height: 80vh;
  overflow-y: auto;
  padding-right: 10px;
}
